[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain-teddynote = "*"
kiwipiepy-model = "==0.18.0"
langchain = "*"
langchain-openai = "*"
ipython = "*"
black = "*"
jupyter = "*"
chromadb = "*"
unstructured = "*"
libmagic = "*"
python-magic-bin = "*"
pypdf = "*"
unstructured-inference = "*"
pi-heif = "*"
unstructured-pytesseract = "*"
pytesseract = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
